<!DOCTYPE html>
<html>

<%- partial('partial/header') %>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<%- config.gtm_id %>" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <header class="site-header box">
    <div class="container">
      <a class="site-title" href="<%- config.url %>" title="<%- config.title %>">
        <%- config.title %>
      </a>
      <a class="about" href="<%- url_for('about') %> ">關於</a>
    </div>
  </header>

  <%- body %>
</body>

<%- partial('partial/footer') %>

<%- partial('partial/csslib') %>
<%- partial('partial/postlib') %>

</html>