<!DOCTYPE html>
<html>

<%- partial('partial/header') %>

<body>
  <header class="site-header">
    <div class="container">
      <a class="site-title" href="<%- config.url %>" title="<%- config.title %>">
        <%- config.title %>
      </a>
    </div>
  </header>

  <%- body %>
</body>

<%- partial('partial/csslib') %>
<%- partial('partial/postlib') %>

</html>