<!DOCTYPE html>
<html>

<%- partial('partial/header') %>

<body>
  <header class="site-header">
    <div class="container">

      <a class="site-title" href="<%- config.url %>" title="<%- config.title %>">
        <%- config.title %>
      </a>

    </div>
  </header>
  <%- partial('partial/banner') %>
  <%- body %>
</body>

<%- partial('partial/csslib') %>
<%- partial('partial/postlib') %>

</html>