<article class="post">
  <div class="box geo-pattern" data-pattern="<%- page.title %>">
    <div class="post-description">
      <h1>
        <%- page.title %>
      </h1>
      <div class="info">
        <div class="v-center">
          <span class="material-icons">
            event
          </span>
          <span><%- page.date.format('YYYY/M/D') %> </span>
        </div>
        <!-- Categories -->
        <% if (page.categories && page.categories.length){ %>
        <% page.categories.each(function(category) { %>
        <div class="v-center">
          <span class="material-icons">
            work
          </span>
          <span><a href="<%- url_for(category.path) %> "><%- category.name %></a> </span>
        </div>
        <% }) %>
        <% } %>
        <!-- Tags -->
        <% if (page.tags && page.tags.length){ %>
        <% page.tags.each(function(tag) { %>
        <div class="v-center">
          <span class="material-icons">
            turned_in
          </span>
          <span><a href="<%- url_for(tag.path) %> "><%- tag.name %></a> </span>
        </div>
        <% }) %>
        <% } %>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="post-content">
      <div class="content"><%- page.content %></div>
      <div class="side-bar">
        <div class="toc-box">
          <h3>Table of content</h3>
          <div class="toc">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="post-info line">
      <div>文章發布時間: <%- page.date.format('YYYY/MM/DD HH:mm') %> </div>
      <div>文章更新時間: <%- page.updated.format('YYYY/MM/DD HH:mm') %> </div>
    </div>
  </div>
  <div class="box">
    <div class="thank">謝謝你看完這篇文章，若有任何錯誤，麻煩在下面留言，我會盡快回覆。</div>
  </div>
</article>