<article class="post">
  <div class="box geo-pattern" data-pattern="<%- page.title %>">
    <div class="post-description">
      <h1>
        <%- page.title %>
      </h1>
      <%- partial('partial/post-info', {page: page}) %>
    </div>
  </div>
  <div class="box">
    <div class="post-content">
      <div class="content"><%- page.content %></div>
      <div class="side-bar">
        <div class="toc-box">
          <h3>Table of content</h3>
          <div class="toc">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="box">
    <div class="post-info line">
      <div>文章發布時間: <%- page.date.utcOffset(config.utcOffset).format('YYYY/MM/DD HH:mm') %> </div>
      <div>文章更新時間: <%- page.updated.utcOffset(config.utcOffset).format('YYYY/MM/DD HH:mm') %> </div>
    </div>
  </div>
  <div class="box">
    <div class="thank">謝謝你看完這篇文章，若有任何錯誤，麻煩在下面留言，我會盡快回覆。</div>
  </div>
  <% if(page && page.history){ %>
  <div class="box">
    <%- partial('partial/history', {history: page.history}) %>
  </div>
  <% } %>
  <div class="box">
    <%- partial('partial/disqus') %>
  </div>
</article>


<%- partial('partial/toc') %>