<div class="article-pre">
  <h1><a href="<%- post.permalink %>"><%- post.title %> </a>
  </h1>
  <%- partial('post-info', {page: post}) %>
  <div> <% if (post.excerpt){ %>
    <%- post.excerpt %>
    <% } else { %>
    <%- post.content %>
    <% } %></div>
</div>