<div class="article-pre">
  <h1><a href="<%- url_for(post.path) %>"><%- post.title %> </a>
  </h1>
  <%- partial('post-info', {page: post}) %>
  <% if ( post.description ){ %>
  <div class="description"><%- post.description %> </div>
  <% } %>
  <div class="excerpt"> <% if (post.excerpt){ %>
    <%- post.excerpt %>
    <% } else { %>
    這篇文章沒有摘要
    <% } %></div>
</div>