<div class="footer box">
  <div>
    <div class="actions">
      <span>© <%- moment().format('YYYY') %>
          <%- config.author %> - <a href="<%- url_for('about') %> ">About</a>&nbsp;
            <a target="_black"
              href="https://api.cptsai.com/auth/login?redirect=<%- full_url_for(page.path) %>">Login</a></span>
      <a class="material-icons rss" href="<%- url_for('feed.xml') %>" target="_blank">
        rss_feed
      </a>
    </div>
    <a href="javascript:window.scrollTo(0,0)">TOP</a>
  </div>
</div>