<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <title>
    <% if(page.title){ %> <%= page.title %> | <% } %> <%- config.title %>
  </title>
  <% if(page) { %>
  <meta property="og:url" content="<%- page.permalink	%>" />
  <meta property="og:site_name" content="<%- page.title	%>" />
  <% if(page.date) { %>
  <meta property="article:published_time" content="<%- page.date.format('YYYY-MM-DD') %>" />
  <% } %>
  <meta name="description" content="<%- page.description || page.excerpt %>" />
  <meta name="og:description" content="<%- page.description || page.excerpt %>" />
  <% } %>
  <meta property="og:type" content="article" />
  <meta property="og:locale" content="zh_TW" />
  <script>
    dataLayer = [{
      identifier: "<%- page.path %>"
    }]
  </script>
  <!-- Google Tag Manager -->
  <% if(!process.env.develop) { %>
  <script>(function (w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
          'gtm.start':
            new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
      })(window, document, 'script', 'dataLayer', '<%- config.gtm_id %>');</script>
  <% } %>
  <!-- End Google Tag Manager -->

  <%- css('css/index') %>
</head>