<div class="info">
  <div class="v-center">
    <span class="material-icons">
      event
    </span>
    <span><%- page.date.format('YYYY/M/D') %> </span>
  </div>
  <!-- Categories -->
  <% if (page.categories && page.categories.length){ %>
  <% page.categories.each(function(category) { %>
  <div class="v-center">
    <span class="material-icons">
      work
    </span>
    <span><a href="<%- url_for(category.path) %> "><%- category.name %></a> </span>
  </div>
  <% }) %>
  <% } %>
  <!-- Tags -->
  <% if (page.tags && page.tags.length){ %>
  <% page.tags.each(function(tag) { %>
  <div class="v-center">
    <span class="material-icons">
      turned_in
    </span>
    <span><a href="<%- url_for(tag.path) %> "><%- tag.name %></a> </span>
  </div>
  <% }) %>
  <% } %>
</div>